<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Certificate Checker</title>
  </head>
  <body>
    <div>
      
      {% if user.is_authenticated %}
        <p>Welcome, {{ user.username }}  <a href="{% url 'accounts:logout' %}">[logout]</a></p>
      {% else %}
        <p>Welcome, Guest <a href="{% url 'accounts:login' %}">[login]</a></p>
      {% endif %}


      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
 

    {% block content %}
    {% endblock %}

    </div>
  </body>
</html>